.App {
  text-align: center;
  color: white;
  background-image: url(./Media/GoldTrading.jpg) ;
  background-repeat: no-repeat;
  max-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  margin-bottom: 10px;
  
  
  
}

h2{
  margin-top: 0px;
  margin-bottom: 0;
  font-size: calc(10px + 2vmin);;
}

.exchangeBox{
  min-height: 78vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  /* background-color: rgb(12, 44, 80); */
}

.xFrom{
  padding: 15px 20px 0 10px;
  margin: 20vmin 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 4px;
  background-color: black;
  opacity: .8;
}

label{
  margin: 0 10px 0 10px;
  opacity: 1;
}
input{
  opacity: 1;
}
.App-link {
  color: #61dafb;
}

.answer{
  font-weight: bolder;
}
form{
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
